body {
	color: white;
}

h1 {
	margin: 0;
}

header {
	display: flex;

	height: 5rem;
	background-color: rgba(10, 10, 10, 0.08);
	align-items: center;
	justify-content: center;
}

p {
	margin-top: 0rem;
	margin-bottom: 0rem;
}

a {
	text-decoration: none;
}

.spaceY-between-btn-4 > *:not(:first-child) {
	margin-top: 1rem;
}

.spaceY-between-btn-3 > *:not(:first-child) {
	margin-top: 0.75rem;
}

.spaceX-between-btn-2 > *:not(:last-child) {
	margin-right: 0.5rem;
}

.button-selector {
	display: flex;
	flex-direction: row;

	align-items: center;
	border-radius: 0.5rem;
	transition-property: all;
	transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
	transition-duration: 150ms;
	background-color: transparent;
}

.button-selector:hover {
	background-color: rgb(0 0 0 / 0.1);
}

.button-selector:active {
	background-color: rgb(0 0 0 / 0.25);
}

.text-for-button {
	flex-grow: 1;

	text-align: center;
	font-size: 1.125rem;
	line-height: 1.75rem;
	color: white;
}

.big-button {
	width: 20rem;
	height: 175px;

	border-radius: 1.5rem;
	border: none;

	color: transparent;
	font-size: 6rem;
	line-height: 1;

	transition-property: all;
	transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
	transition-duration: 150ms;

	background-color: rgb(217 217 217 / 0.1);
	box-shadow: 5px 5px 0 1px rgba(0, 0, 0, 0.25);
}

.big-button:hover {
	background-color: rgb(217 217 217 / 0.3);
}

.big-button:active {
	background-color: rgb(217 217 217 / 0.6);
}

.tournament-title {
	font-size: 4rem;
	line-height: 1;
	margin-bottom: 50px;
	animation-direction: reverse;
	animation-duration: 5s;
	animation-name: colours;
	animation-timing-function: ease;
	animation-iteration-count: infinite;
	-webkit-animation-direction: reverse;
	-webkit-animation-duration: 5s;
	-webkit-animation-name: colours;
	-webkit-animation-timing-function: ease;
	-webkit-animation-iteration-count: infinite;
}

@keyframes colours {
	0% {color: red;}
	5% {color: rgb(255, 102, 0);}
	10% {color: orange;}
	15% {color: yellow;}
	20% {color: rgb(170, 255, 0)}
	25% {color: rgb(128, 255, 0);}
	30% {color: rgb(9, 255, 0);}
	35% {color: rgb(0, 255, 123)}
	40% {color: rgb(0, 255, 191);}
	45% {color: rgb(0, 195, 255)}
	50% {color: rgb(0, 145, 255);}
	55% {color: rgb(0, 81, 255);}
	60% {color: rgb(47, 0, 255);}
	65% {color: rgb(81, 0, 255);}
	70% {color: rgb(187, 0, 255);}
	75% {color: rgb(238, 0, 255);}
	80% {color: rgb(255, 0, 225);}
	85% {color: rgb(255, 0, 128);}
	90% {color: rgb(195, 18, 65);}
	95% {color: rgb(191, 0, 16);}
	100% {color: rgb(181, 0, 0);}
  }

@-webkit-keyframes colours {
	0% {color: red;}
	5% {color: rgb(255, 102, 0);}
	10% {color: orange;}
	15% {color: yellow;}
	20% {color: rgb(170, 255, 0)}
	25% {color: rgb(128, 255, 0);}
	30% {color: rgb(9, 255, 0);}
	35% {color: rgb(0, 255, 123)}
	40% {color: rgb(0, 255, 191);}
	45% {color: rgb(0, 195, 255)}
	50% {color: rgb(0, 145, 255);}
	55% {color: rgb(0, 81, 255);}
	60% {color: rgb(47, 0, 255);}
	65% {color: rgb(81, 0, 255);}
	70% {color: rgb(187, 0, 255);}
	75% {color: rgb(238, 0, 255);}
	80% {color: rgb(255, 0, 225);}
	85% {color: rgb(255, 0, 128);}
	90% {color: rgb(195, 18, 65);}
	95% {color: rgb(191, 0, 16);}
	100% {color: rgb(181, 0, 0);}
}	

.big-button-xl {
	width: 26rem;
	height: 215px;

	border-radius: 1.5rem;
	border: none;

	color: transparent;
	font-size: 6rem;
	line-height: 1;

	transition-property: all;
	transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
	transition-duration: 150ms;

	background-color: rgb(217 217 217 / 0.1);
	box-shadow: 5px 5px 0 1px rgba(0, 0, 0, 0.25);
}

.big-button-xl:hover {
	background-color: rgb(217 217 217 / 0.3);
}

.big-button-xl:active {
	background-color: rgb(217 217 217 / 0.6);
}

.margin-btn {
	margin-right: 200px;
}

.truncate {
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}
