body {
	color: white;
}

h1 {
	margin: 0;
}

header {
	display: flex;

	height: 5rem;
	background-color: rgba(10, 10, 10, 0.08);
	align-items: center;
	justify-content: center;
}

p {
	margin-top: 0rem;
	margin-bottom: 0rem;
}

a {
	text-decoration: none;
}

.spaceY-between-btn-4 > *:not(:first-child) {
	margin-top: 1rem;
}

.spaceY-between-btn-3 > *:not(:first-child) {
	margin-top: 0.75rem;
}

.spaceX-between-btn-2 > *:not(:last-child) {
	margin-right: 0.5rem;
}

.button-selector {
	display: flex;
	flex-direction: row;

	align-items: center;
	border-radius: 0.5rem;
	transition-property: all;
	transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
	transition-duration: 150ms;
	background-color: transparent;
}

.button-selector:hover {
	background-color: rgb(0 0 0 / 0.1);
}

.button-selector:active {
	background-color: rgb(0 0 0 / 0.25);
}

.text-for-button {
	flex-grow: 1;

	text-align: center;
	font-size: 1.125rem;
	line-height: 1.75rem;
	color: white;
}

.big-button {
	width: 20rem;
	height: 175px;

	border-radius: 1.5rem;
	border: none;

	color: transparent;
	font-size: 6rem;
	line-height: 1;

	transition-property: all;
	transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
	transition-duration: 150ms;

	background-color: rgb(217 217 217 / 0.1);
	box-shadow: 5px 5px 0 1px rgba(0, 0, 0, 0.25);
}

.big-button:hover {
	background-color: rgb(217 217 217 / 0.3);
}

.big-button:active {
	background-color: rgb(217 217 217 / 0.6);
}

.big-button-xl {
	width: 26rem;
	height: 215px;

	border-radius: 1.5rem;
	border: none;

	color: transparent;
	font-size: 6rem;
	line-height: 1;

	transition-property: all;
	transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
	transition-duration: 150ms;

	background-color: rgb(217 217 217 / 0.1);
	box-shadow: 5px 5px 0 1px rgba(0, 0, 0, 0.25);
}

.big-button-xl:hover {
	background-color: rgb(217 217 217 / 0.3);
}

.big-button-xl:active {
	background-color: rgb(217 217 217 / 0.6);
}

.margin-btn {
	margin-right: 200px;
}

.truncate {
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}
