#title span {
	position: relative;
}

#title span, #provider-button-list .provider-buttons {
	opacity: 0;
}

@keyframes slide {
	0% {
		opacity: 0;
		right: 125px;
	}
	100% {
		opacity: 1;
		right: 0;
	}
}

#title span:nth-child(1) {
	animation: 1s ease-in-out forwards slide;
}

#title span:nth-child(3) {
	animation: 1s ease-in-out .1s forwards slide;
}

#title span:nth-child(5) {
	animation: 1s ease-in-out .2s forwards slide;
}

@keyframes appear {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}
