.homepage-left-wrapper {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	width: 100%;
	height: 39rem;
	align-items: center;
}

.homepage-right-wrapper {
	display: flex;
	flex-direction: column;
	justify-content: space-between;

	width: 350px;
	height: 100%;
}

.pseudo-trophy-wrapper {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	flex-grow: 1;

	overflow: hidden;
}

.history-bento {
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: flex-start;

	padding: 0.75rem;
	width: 350px;
	height: 100%;
	border-radius: 1.5rem;
	align-items: stretch;
	background-color: #d9d9d935;
	box-shadow: 5px 5px 0 1px rgba(0, 0, 0, 0.25);
}

.scrollab {
	overflow-y: auto;
}

.finished-games {
	width: 320px;
	height: 80px;
	border-radius: 1rem;
	background-color: #ffffffb8;
	margin-left: 3px;
	display: flex;
	flex-direction: row;
}

.usernames {
	color: black;
	font-size: 18px;
	margin-left: 30px;
}

.score {
	color: black;
	font-size: 15px;
	margin-left: 100px;
}

.profile-bento {
	display: flex;
	flex-direction: row;
	justify-content: space-between;

	width: 100%;
	height: 15%;

	padding: 0.75rem;
	border-radius: 1.5rem;

	color: black;
	background-color: #D9D9D9;
	box-shadow: 5px 5px 0 1px rgba(0, 0, 0, 0.25);
}

.friends-bento {
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: flex-start;

	width: 100%;
	height: 79%;
	align-items: stretch;
	padding: 0.75rem;
	border-radius: 1.5rem;
	background-color: #D9D9D9;
	box-shadow: 5px 5px 0 1px rgba(0, 0, 0, 0.25);
}

.pfp-ranking {
	position: relative;

	width: 70px;
	height: 100%;
}

.pfp {
	border-radius: 9999px;
	transition-property: all;
	transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
	transition-duration: 150ms;
}

.pfp:hover {
	rotate: 10deg;
}

.rank {
	position: absolute;

	bottom: -0.25rem;
	right: -0.25rem;
}

.trophies {
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
	flex-grow: 1;

	align-items: center;
	font-size: 1.25rem;
	line-height: 1.75rem;
}
