.rainbow-text {
	background: linear-gradient(to bottom, #0A0 0%, #0A0 20%, yellow 20%, yellow 40%, orange 40%, orange 60%, #F11 60%, #F11 80%, #33F 80%, #33F 100%) 0 0.3em/100% 1em repeat-y;
	background-clip: text;
	-webkit-background-clip: text;
	color: transparent;
	animation: scroll 2s infinite;
	animation-timing-function: linear;
}

.stroke {
	-webkit-text-stroke: 5px black;
}

@keyframes scroll {
	0% {
		background-position-y: 0;
	}
	100% {
		background-position-y: 6rem;
	}
}
