.input-style-1 {
    width: 100%;
    height: 50px;
    border-radius: 1.5rem;
    border-color: transparent;
    font-size: 20px;
}

.input-style-1:focus {
    border-color: transparent;
    box-shadow: none;
    outline: none;
}

.ul-class {
    display: flex;
    flex-wrap: wrap;
    list-style-type: none;
    padding: 0;
}

.li-class {
    padding: 5px 10px;
    background-color: transparent;
    border-color: transparent;
    outline: none;
    box-shadow: none;
}

.a-class {
    text-decoration: none;
    color: black;
    font-size: 20px;
}
